ihtml, body {
   margin: 0;
   padding: 0;
   background-color: #17161B;
}

.container {
    display: flex;
    flex-direction: column;
}
.timetable {
    width: 100%;
}
.profile {
    height: 200px;
}
.horizontal-scroll {
    height: 100px;
}
.couples {
    height: 720px;
}

.couple{
    width: 260;
    height: 120;
    margin-right: 20px;
    background-color: #FFFFFF;
}

.couple: first-child{
    margin-top: 30px;
}

.couple + .couple { 
    margin-top: 15px;
}