html, body {
   margin: 0;
   padding: 0;
   background-color: #FF0000;
}

.container {
    display: flex;
    flex-direction: column;
}
.timetable {
    width: 100vw;
}
.profile {
    height: 200px;
    background-color: #f0f0f0;
}
.horizontal-scroll {
    height: 100px;
    background-color: #ccc;
}
.couples {
    height: 720px;
    background-color: #999;
}