ihtml, body {
   margin: 0;
   padding: 0;
   background-color: #17161B;
}

.container {
    display: flex;
    flex-direction: column;
}
.timetable {
    width: 100%;
}
.profile {
    height: 50vh;
}
.horizontal-scroll {
    height: 30hvh;
}
.couples {
    height: 85vh;
}

.couple{
    width: 260px;
    height: 120px;
    border-radius: 25px;
    background-color: #28272C;
}

.couple + .couple { 
    margin-top: 15px;
}